{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-fullscreen@1.5.1/dist/leaflet.fullscreen.css" />
    {% comment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"></script> {% endcomment %}
    <title>Document</title>
</head>

<body>



    <div id="map" style="height:100vh;"></div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-fullscreen@1.5.1/dist/Leaflet.fullscreen.min.js"></script>
    <script src="{% static " ./main.js" %}"></script>

    <script>
        // Initialize the map
        var map = L.map('map').setView([0, 0], 2);

        // Add the OpenStreetMap layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        // Add fullscreen control to the map
        map.addControl(new L.Control.Fullscreen());
    </script>
</body>

</html>