{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-fullscreen@1.5.1/dist/leaflet.fullscreen.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <title>FohorUthau</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div id="box" class="flex">

        <nav class="flex-1/3 shadowd-md relative z-10 h-full bg-white p-3 text-black">
            <div class="justfy-between flex">
                <a href="{% url 'home' %}" class="m-1 text-2l font-mono font-bold">TrashTrack</a>
            </div>

            <div id="address-box" class="relative m-2">
                <input type="text" id="floating_filled"
                    class="peer block w-full border-0 border-b-2 border-gray-400 bg-gray-50 px-2.5 pb-2.5 pt-5 text-sm text-gray-900 focus:border-blue-400 focus:outline-none focus:ring-0"
                    placeholder=" " />
                <label for="floating_filled"
                    class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75">Your
                    location</label>
            </div>

            <ul class="mt-8 font-sans font-light antialiased">
                <li class="list-none">
                    <a href="" class="block rounded-md px-4 py-2 hover:bg-gray-100"><i
                            class="fas fa-home mr-2"></i>Home</a>
                </li>
                <li class="list-none">
                    <a href="{% url 'schedule' %}" class="block rounded-md px-4 py-2 hover:bg-gray-100"><i
                            class="fas fa-calendar-alt mr-2"></i>Schedule</a>
                </li>

                <li class="list-none">
                    <a href="{% url 'complain' %}" class="block rounded-md px-4 py-2 hover:bg-gray-100"><i
                            class="fas fa-exclamation-circle mr-2"></i>Complaints</a>
                </li>
                <li class="list-none">
                    <a href="#settings" class="block rounded-md px-4 py-2 hover:bg-gray-100"><i
                            class="fas fa-info-circle mr-2"></i>About</a>
                </li>
            </ul>


            <div class="m-3 p-2">
                {% if user.is_authenticated %}
                <a href=""><i class="icon-user"><label>{{user.username}}</label></i></a>
                {% else %}
                <a href="/account/login/">
                    <button class=" custom-button rounded-full border border-black bg-transparent px-3 py-2 font-sans
                            font-semibold text-black hover:border-transparent hover:bg-black hover:text-white"><i
                            class="fa-solid fa-arrow-right-to-bracket"></i></button>
                </a>
                {% endif %}

                <a href="{% url 'signup' %}">
                    <button class="custom-button rounded-full border  border-black bg-transparent px-3 py-2
                    font-sans font-semibold text-black hover:border-transparent hover:bg-black hover:text-white"><i
                            class="fa-solid fa-user-plus"></i></button>
                </a>



            </div>

            <div class=" flex item-center justify-center">
                <a href="{% url 'logout' %}">
                    <button class="custom-button rounded-full border  border-black bg-transparent px-3 py-2
                font-sans font-semibold text-black hover:border-transparent hover:bg-black hover:text-white"><i
                            class="fa-solid fa-right-to-bracket"></i></button>
                </a>
            </div>
        </nav>


        <div id="map" class="h-[92vh] overflow-hidden flex-1 bg-gray-100 rounded-lg m-5">
            <div id="mapContainer" class="h-screen z-0 p-5"></div>
        </div>

    </div>
    <script>


        var coordinates = {
            "coordinates": [
                [
                    85.31993252921973,
                    27.708654224391594
                ],
                [
                    85.3199584523552,
                    27.708899027939722
                ],
                [
                    85.31999949731971,
                    27.70925093207792
                ],
                [
                    85.3200340615004,
                    27.709566497323152
                ],
                [
                    85.32005350340609,
                    27.70978643767053
                ],
                [
                    85.32005566366735,
                    27.709943263379103
                ],
                [
                    85.32039266442615,
                    27.70990692573531
                ],
                [
                    85.32078799223984,
                    27.709855288009322
                ],
                [
                    85.32107098646765,
                    27.70982277535505
                ],
                [
                    85.32136046147804,
                    27.709811300298128
                ],
                [
                    85.32164346154286,
                    27.70976157358288
                ],
                [
                    85.32194589812235,
                    27.70968124811432
                ],
                [
                    85.32208415484371,
                    27.709648735407683
                ],
                [
                    85.32213816137596,
                    27.709927961865333
                ],
                [
                    85.32215544346633,
                    27.710134512483307
                ],
                [
                    85.3221295203308,
                    27.710274125180064
                ],
                [
                    85.32205175094708,
                    27.710396524909626
                ],
                [
                    85.3219718212793,
                    27.710570562208957
                ],
                [
                    85.32205823173098,
                    27.710889948618203
                ],
                [
                    85.32210575789236,
                    27.71112562559938
                ],
                [
                    85.32219432860529,
                    27.7114239730916
                ],
                [
                    85.32220729017303,
                    27.711609483620094
                ],
                [
                    85.32217920677624,
                    27.711842805693564
                ],
                [
                    85.32215328365663,
                    27.712026403750755
                ],
                [
                    85.32213600156626,
                    27.71216410155779
                ],
                [
                    85.32208847581785,
                    27.712462446208946
                ],
                [
                    85.32204959112352,
                    27.712773763438108
                ],
                [
                    85.32201502694284,
                    27.713043419632157
                ],
                [
                    85.32200206539801,
                    27.713211715510184
                ],
                [
                    85.32195669991086,
                    27.71340678523194
                ],
                [
                    85.3219329370367,
                    27.713626716362782
                ],
                [
                    85.3219329370367,
                    27.71366687765149
                ],
                [
                    85.32242763686975,
                    27.71365731544107
                ],
                [
                    85.32275599658334,
                    27.71366305276743
                ],
                [
                    85.32323773484865,
                    27.713548306184578
                ],
                [
                    85.32360065874298,
                    27.713414435017867
                ],
                [
                    85.32391821481548,
                    27.71328629837099
                ],
                [
                    85.32420768982718,
                    27.713215537747985
                ],
                [
                    85.32455333163114,
                    27.71316581403903
                ],
                [
                    85.32466350495565,
                    27.713167726489772
                ],
                [
                    85.32496594153508,
                    27.713284385922336
                ],
                [
                    85.32501995429823,
                    27.713307337435637
                ],
                [
                    85.3250739608306,
                    27.713408697147713
                ],
                [
                    85.32503075560476,
                    27.713557867873178
                ],
                [
                    85.32502859534344,
                    27.713620978503158
                ]
            ]
        }

        var coordinateArray = coordinates.coordinates;

        var map = L.map('map').setView([27.708654224391594, 85.31993252921973], 20);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        <!--var marker = L.marker(coordinateArray[0]).addTo(map);-->
        // Create a custom truck icon
        var truckIcon = L.icon({
            iconUrl: '{% static "/truck.png" %}',
            iconSize: [50, 50], // Adjust the size as needed
            iconAnchor: [16, 16], // Adjust the anchor point as needed
        });
        var marker = L.marker(coordinateArray[0], { icon: truckIcon }).addTo(map);


        var index = 1;

        function updateMarker() {
            if (index < coordinateArray.length) {
                var coordinate = coordinateArray[index];
                marker.setLatLng([coordinate[1], coordinate[0]]);
                index++;
            } else {
                clearInterval(intervalId); // Stop updating when all coordinates are covered
            }
        }

        // Update marker every 1000 milliseconds (1 second)
        var intervalId = setInterval(updateMarker, 2000);

    </script>
</body>


</html>